<h3>Trouve le Geeft parfait</h3>


<%= simple_form_for @event do |f| %>

  <%= f.label :age %>
  <%= f.range_field :age, min: 0, max: 100 %>
  <%= f.label :genre %>
  <%= f.input :genre, collection: ['Neutre', 'Feminin', 'Masculin'], as: :radio_buttons  %>
  <%= f.input :occasion, collection: Event::OCCASIONS, as: :radio_buttons  %>
  <%= f.input :list, collection: Event::LISTS, as: :check_boxes  %>
  <%= f.input :liens, collection: Event::LIENS, as: :radio_buttons  %>
  <%= f.submit %>
<% end %>
