<div class="body-container">
  <h1 class="page-title">Trouve le Geeft parfait</h1>

  <div class="form" data-controller="find-values checkboxes" >
    <%= simple_form_for @event do |f| %>
      <div class="budget-title">
        <%= f.label :budget_min, class: "category-title" %>
        <div class="budget-details-points"> : </div>
        <div class="budget-value" data-find-values-target="minValue"></div>
      </div>
      <div class="crit-bmin">
        <%= f.range_field :budget_min, min: 5, max: 500, step: 5, data: { find_values_target: "starting", action: "input->find-values#update" }  %>
      </div>

      <div class="budget-title">
        <%= f.label :budget_max, class: "category-title" %>
        <div class="budget-details-points"> : </div>
        <div class="budget-value" data-find-values-target="maxValue"></div>
      </div>
      <div class="crit-bmax">
        <%= f.range_field :budget_max, min: 10, max: 1000, step: 10, data: { find_values_target: "ending", action: "input->find-values#update" } %>
      </div>

      <%= f.label :age, class: "category-title" %>
      <div class="crit-age">
        <div class="range-slider">
          <div id="slider_thumb" class="range-slider_thumb"></div>
      <div class="range-slider_line">
        <div id="slider_line" class="range-slider_line-fill"></div>
      </div>
      <%= f.range_field :age, min: 0, max: 100, class: "range-slider_input", id: "slider_input", data: { find_values_target: "age", action: "input->find-values#update" } %>
      </div>
        <div class = "d-none" data-find-values-target="ageValue"></div>
      </div>
      <div class="crit-genre" data-controller="gender-check">
        <%# cacher cette partie pour intégrer juste des boutons qui active la valeur à intégrer au form %>
        <%= f.input :genre, collection: ['neutral', 'female', 'male'], as: :radio_buttons, input_html: { data: { target: "gender" } } %>
        <div class="genre-buttons">
          <div class="genre-button neutral" data-action="click->gender-check#neutral"><i class="fa-solid fa-mars-and-venus"></i></div>
          <div class="genre-button female" data-action="click->gender-check#female"><i class="fa-solid fa-venus"></i></div>
          <div class="genre-button male" data-action="click->gender-check#male"><i class="fa-solid fa-mars"></i></div>
        </div>
      </div>
      <div class="crit-lien">
        <%= f.input :lien, collection: Event::LIENS.sort, as: :radio_buttons, input_html: { class: "pill-lien", data: { action: "click->checkboxes#checked" } } %>
      </div>
      <div class="crit-occasion">
        <%= f.input :occasion, collection: Event::OCCASIONS.sort, as: :radio_buttons, input_html: { class: "pill-occasion", data: { action: "click->checkboxes#checked" } } %>
      </div>
      <div class="crit-interest">
        <%= f.input :subject, collection: Event::INTERESTS.sort, as: :check_boxes, include_hidden: false, input_html: { class: "pill-interest", data: { action: "click->checkboxes#checked" } }  %>
      </div>
      <%= f.submit 'go geeft' %>
    <% end %>
  </div>
</div>

<script>
  const slider_input = document.getElementById('slider_input'),
    slider_thumb = document.getElementById('slider_thumb'),
    slider_line = document.getElementById('slider_line');

  function showSliderValue() {
    slider_thumb.innerHTML = slider_input.value;
    const bulletPosition = slider_input.value / slider_input.max,
      space = slider_input.offsetWidth - slider_thumb.offsetWidth;

    slider_thumb.style.left = bulletPosition * space + 'px';
    slider_line.style.width = slider_input.value + '%';
  }

  showSliderValue();
  window.addEventListener("resize", showSliderValue);
  slider_input.addEventListener('input', showSliderValue, false);

  document.addEventListener('DOMContentLoaded', function () {
    var sliderInput = document.querySelector('.crit-age .range-slider_input');

    sliderInput.addEventListener('touchstart', function (e) {
      // Empêcher la propagation de l'événement tactile
      e.stopPropagation();
    });
  });
</script>
