<div class="body-container">
  <h3>Trouve le Geeft parfait</h3>

  <div class="form" data-controller="checkboxes">
    <%= simple_form_for @event do |f| %>
        <%= f.label :budget_min %>
      <div class="crit-bmin">
        <%= f.range_field :budget_min, min: 5, max: 500 %>
      </div>
        <%= f.label :budget_max %>
      <div class="crit-bmax">
        <%= f.range_field :budget_max, min: 10, max: 4000 %>
      </div>
        <%= f.label :age %>
      <div class="crit-age">
        <%= f.range_field :age, min: 0, max: 100 %>
      </div>
      <div class="crit-genre">
        <%# cacher cette partie pour intégrer juste des boutons qui active la valeur à intégrer au form %>
        <%= f.input :genre, collection: ['Neutre', 'Féminin', 'Masculin'], as: :radio_buttons, input_html: { class: "logo-genre" }  %>
      </div>
      <div class="crit-lien">
        <%= f.input :lien, collection: Event::LIENS.sort, as: :radio_buttons, input_html: { class: "pill-lien", data: { action: "click->checkboxes#checked" } } %>
      </div>
      <div class="crit-occasion">
        <%= f.input :occasion, collection: Event::OCCASIONS.sort, as: :radio_buttons, input_html: { class: "pill-occasion", data: { action: "click->checkboxes#checked" } } %>
      </div>
      <div class="crit-interest">
        <%= f.input :subject, collection: Event::INTERESTS.sort, as: :check_boxes, input_html: { class: "pill-interest", data: { action: "click->checkboxes#connect" } }  %>
      </div>
        <%#= f.hidden_field :client, value: @client %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
