<div class="body-container">
  <h1>Trouve le Geeft parfait</h1>

  <div class="form" data-controller="find-values checkboxes" >
    <%= simple_form_for @event do |f| %>
        <%= f.label :budget_min %>
      <div class="crit-bmin">
        <%= f.range_field :budget_min, min: 5, max: 500, step: 5, data: { find_values_target: "starting", action: "input->find-values#update" }  %>
        <div data-find-values-target="minValue"></div>
      </div>
        <%= f.label :budget_max %>
      <div class="crit-bmax">
        <%= f.range_field :budget_max, min: 10, max: 4000, step: 5, data: { find_values_target: "ending", action: "input->find-values#update" } %>
        <div data-find-values-target="maxValue"></div>
      </div>
        <%= f.label :age %>
      <div class="crit-age">
        <%= f.range_field :age, min: 0, max: 100, data: { find_values_target: "age", action: "input->find-values#update" } %>
        <div data-find-values-target="ageValue"></div>
      </div>
      <div class="crit-genre">
        <%# cacher cette partie pour intégrer juste des boutons qui active la valeur à intégrer au form %>
        <%= f.input :genre, collection: ['neutral', 'female', 'male'], as: :radio_buttons %>
      </div>
      <div class="crit-lien">
        <%= f.input :lien, collection: Event::LIENS.sort, as: :radio_buttons, input_html: { class: "pill-lien", data: { action: "click->checkboxes#checked" }} %>
      </div>
      <div class="crit-occasion">
        <%= f.input :occasion, collection: Event::OCCASIONS.sort, as: :radio_buttons, input_html: { class: "pill-occasion", data: { action: "click->checkboxes#checked" } } %>
      </div>
      <div class="crit-interest">
        <%= f.input :subject, collection: Event::INTERESTS.sort, as: :check_boxes, include_hidden: false, input_html: { class: "pill-interest", data: { action: "click->checkboxes#connect" } }  %>
      </div>

      à review
      <div class="crit-custom-interest">
        <%= f.input :custom_interest, :label => "Ajoute un intérêt pour les lutins", { :maxlength => 20 } %>
      </div>
      à review

      <%= f.submit 'go geeft' %>
    <% end %>
  </div>
</div>
