<h1>Tu as trouvé les bons geefts, à présent enregistre ta geeft list en créant un événement associé</h1>

<div>
  <%= simple_form_for @event, url: :update_from_edit_event do |f| %>
    <%= f.input :event_name, input_html: { maxlength: 50 } %>
    <%= f.input :event_date, as: :string,  input_html: {data: { controller: "datepicker" }} %>
    <%= f.input :description, as: :text, input_html: { maxlength: 500 } %>
    <%= f.input :event_url %>
<div class="already-harvest-event-infos">
  <h1>Préparons cet évènement : <%= @event.occasion %></h1>
  <h1>Pour cet être que vous chérissez tant : <%= @event.lien %></h1>

  <h1>Ma liste de geefts</h1>
   <% @event.list.each do |gift| %>
   <ul>
   <li><%= gift %></li>
   </ul>
    <% end %>
</div>
      <%= f.submit 'Enregistre ma liste' %>
  <% end %>
</div>
