<div class= "body-container" >
  <h1><%= @event.event_name %> </h1>
  <div class="gift-list" id="geefts">
    <div class="date-overflow">
      <% if @event.event_date.present? %>
        <p><%= @event.event_date.strftime("%d/%m/%Y") %></p>
      <% end %>
    </div>
      <h2>Ma liste de geefts</h2>
      <% @event.list.each do |gift| %>
        <div class="gift-item-row">
          <div class="gift-item">
            <%= gift %>
          </div>
        </div>
      <% end %>
  </div>
  <% if @event.description != "" %>
      <div class="bottom-card-share">
        <h2>Notes</h2>
        <div class= "description-share">
        <%= @event.description %>
        </div>
      </div>
  <% end %>

    <% if @event.cagnotte_url != "" %>
      <div class="bottom-card-share">
        <h2>Cagnotte</h2>
        <div class= "cagnotte-share">
        <%= @event.cagnotte_url %>
        </div>
      </div>
  <% end %>

<%= social_share_button_tag(
  @event.event_name,
  :url => event_url(@event),
  :description => @event.description
) %>

 </div>
