<h1>Créé ton evenement avec Geeft</h1>

<div data-controller="flatpickr">
  <%= simple_form_for @event do |f| %>
  <%= f.input :event_name, as: :string input_html: { maxlength: 50 } %>
  <%= f.input :event_date, as: :string, input_html: {data: { flatpickr_target: "eventDate"}} %>
  <%= f.input :description, as: :text, input_html: { maxlength: 500 } %>
  <%= f.input :event_url, as: :string %>
</div>
<div>
  <%= @event.occasion %>
</div>
