<div class= "body-container" >

<div class="event card">
    <h1>Partage ton événment sur les réseaux sociaux !</h1>
    <%= social_share_button_tag(@event.event_name, :url => "/events/#{@event.id}/share") %>

            <div class="event name">

              <h1><%= @event.event_name %></h1>
            </div>
            <div class="details">
              <div class="category-title">Pour: <%= @event.lien %>, à l'occasion de <%= @event.occasion %></div>
              <div class="category-title">Date: <%= @event.event_date %></div>
              <div class="category-title">Description: <%= @event.description %></div>
              <div class="category-title">Cagnotte: <%= @event.cagnotte_url %></div>
            </div>

    <h1>Ma liste de geefts</h1>
    <% @event.list.each do |gift| %>
    <ul>
    <li><%= gift %></li>
    </ul>
    <% end %>

</div>

</div>
