<div class="body-container" data-controller="shuffle">
  <h1>Voici la liste de cadeaux</h1>

  <div class="gift-list">
    <% @event.list.each_with_index do |gift, index| %>
      <% if index < 5 %>
        <div class="gift-item-row row-<%= index %>"><div class="gift-item" data-shuffle-target="item"><%= gift %></div><i class="fa-solid fa-arrows-rotate" data-action="click->shuffle#update"></i></div>
      <% else %>
        <div class="gift-item-row  row-<%= index %> d-none"><div class="gift-item" data-shuffle-target="item"><%= gift %></div><i class="fa-solid fa-arrows-rotate" data-action="click->shuffle#update"></i></div>
      <% end %>
    <% end %>
  </div>

<%= form_with(url: event_path, method: :patch) do |f| %>
      <%= f.text_field :post_prompt, as: :text, placeholder: 'donne aux lutins plus de précisions' %>
      <%= f.submit "régénère ma liste"%>
<% end %>

<%= link_to 'Save my geeft list', profile_path(@event.user_id), class: "btn"%>


</div>
