<h1>liste de cadeaux</h1>
<p>
  <%= @geeft_list = event.content %>
  <%= @geeft_list[0] %>
  <%= @geeft_list[1] %>
  <%= @geeft_list[2] %>
  <%= @geeft_list[3] %>
  <%= @geeft_list[4] %>
  <% end %>
</p>
<%# ici il faudra rajouter la fonction de delte/shuffle click
pour faire apparaître une autre idée cadeau %>


<%# il faut également ajouter ici le potentiel post prompt  %>
