<div class="body-container" data-controller="shuffle list-updater" >
  <h1 class="page-title">Voici la liste de cadeaux</h1>
  <div class="gift-list">
    <% @event.list.each_with_index do |gift, index| %>
      <% if index < 5 %>
        <div class="gift-item-row row-<%= index %>" data-shuffle-target="line"><div class="gift-item" data-shuffle-target="item" data-list-updater-target="listItem"><%= gift %></div><div class="shuffle" data-action="click->shuffle#update"><i class="fa-solid fa-refresh"></i></div></div>
      <% else %>
        <div class="gift-item-row  row-<%= index %> d-none" data-shuffle-target="line"><div class="gift-item" data-shuffle-target="item" data-list-updater-target="listItem"><%= gift %></div><div class="shuffle" data-action="click->shuffle#update"><i class="fa-solid fa-refresh"></i></div></div>
      <% end %>
    <% end %>
  </div>

  <div class="gift-list">
    <div class="body-category">
      <div class="category-title">Tu peux (encore) personaliser les résultats</div>
      <%= form_with(url: event_path, method: :patch) do |f| %>
        <%= f.text_field :post_prompt, as: :text %>
        <div class="custom-input" data-controller="new-prompt">
          <input type="text" id="new-prompt-box" class="new-input" placeholder="donne aux lutins plus de précisions" data-new-prompt-target="inputBox">
          <%= button_tag(type: 'submit', class: 'function-btn', id: 'addButton', data: { new_prompt_target: "addButton" } ,disabled: true) do %>
            <i class="fa-solid fa-paper-plane"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<%= link_to 'Save my geeft list', updatelist_path(@event, list: @event.list), class: "big-btn", data: { id: @event.id, action: "click->list-updater#updateEvent", domain_url: Rails.application.credentials.domain_url } %>

</div>

<script>
  // Sélectionnez les éléments input
  var sourceInput = document.getElementById('new-prompt-box');
  var targetInput = document.getElementById('post_prompt');

  // Vérifiez si les éléments existent avant de continuer
  if (sourceInput && targetInput) {
      // Ajoutez un écouteur d'événements pour détecter les changements de valeur dans le champ source
      sourceInput.addEventListener('input', function() {
          // Copiez la valeur du champ source dans le champ cible
          targetInput.value = sourceInput.value;
      });
  }
</script>
