<%# ici nous allons render nav bar, et organiser le dashboard avec les saved event
et autres features bonus  %>

<div class="event card">

            <div class="event name"><%= @event.event_name  %></div>
            <div class="details">
              <div class="event event-lien_occasion">Pour: <%= @event.lien %>, à l'occasion de <%= @event.occasion %></div>
              <div class="event date">Date: <%= @event.event_date %></div>
              <div class="event description">Description: <%= @event.description %></div>
              <div class="event cagnotte">Cagnotte: <%= @event.cagnotte_url %></div>
            </div>

    <h1>Ma liste de geefts</h1>
    <% @event.list.each do |gift| %>
    <ul>
    <li><%= gift %></li>
    </ul>
    <% end %>

  <div class="buttons">
          <% if @event.user == current_user %>
            <%= link_to 'Edit', addinginfobeforesave_path(@event), class: "btn" %>
            <%= link_to 'Delete', event_path(@event), class: "btn", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            <%= link_to 'Share', share_path(@event), class: "btn" %>
          <% end %>
  </div>

</div>
