<div class= "body-container" >

<% @events.each do |event| %>


    <div class="body-category">
      <div class="event name"><h1><%= event.event_name  %></h1></div>
        <div class="details">
          <div class="category-title">Pour: <%= event.lien %>, à l'occasion de <%= event.occasion %></div>
            <div class="category-title">Date: <%= event.event_date %></div>
              <div class="category-title">Description: <%= event.description %></div>
                <div class="category-title">Cagnotte: <%= event.cagnotte_url %></div>
        </div>
      <h1>Ma liste de geefts</h1>
      <% event.list.each do |gift| %>
        <ul>
          <li><%= gift %></li>
        </ul>
      <% end %>
      <div class="buttons">
        <% if event.user == current_user %>
          <%= link_to 'Modifier', addinginfobeforesave_path(event), class: "btn" %>
          <%= link_to 'Supprimer', event_path(event), class: "btn", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          <%= link_to 'Partager', share_path(event), class: "btn" %>
        <% end %>
        </div>

    </div>


<% end %>

</div>
