<div class= "body-container" >

<% @events.order(:event_date).each do |event| %>
<%# <% console %>
<%#         ici je récupère bien event.id => 91 et event.user_id => 1        %>

    <div class="body-category">
      <div class="event name"><h1><%= event.event_name  %></h1></div>
        <div class="details">
          <div class="category-title">Pour: <%= event.lien %>, à l'occasion de <%= event.occasion %></div>
            <div class="category-title">Date: <%= event.event_date %></div>
              <div class="category-title">Description: <%= event.description %></div>
                <div class="category-title">Cagnotte: <%= event.cagnotte_url %></div>
        </div>
      <h1>Ma liste de geefts</h1>
      <% event.list.each do |gift| %>
        <ul>
          <li><%= gift %></li>
        </ul>
      <% end %>
    </div>


<% end %>

</div>
