<h1>Créer ton evenement avec Geeft</h1>


<div>
  <%= simple_form_for @event do |f| %>
    <%= f.input :event_name, input_html: { maxlength: 50 } %>
    <%= f.input :event_date, as: :string,  input_html: {data: { controller: "datepicker" }} %>
    <%= f.input :description, as: :text, input_html: { maxlength: 500 } %>
    <%= f.input :event_url %>
  <% end %>
</div>
<div>
  <%= @event.occasion %>
  <%= @event.lien %>
</div>
