<%# ici nous allons render nav bar, et organiser le dashboard avec les saved event
et autres features bonus  %>
<h1><%= @event.event_name  %></h1>





<div class="row">
    <% @nfts.each do |nft| %>
        <%= link_to nft_path(nft) do %>
          <div class="nft d-flex flex-column">
            <div class="image">
              <% if nft.photo.attached? %>
                <%= cl_image_tag(nft.photo.key, class: "image-tag") %>
              <% else %>
                <%= image_tag("image_pilot.png", class: "image-tag") %>
              <% end %>
            </div>
            <div class="item price">$<%= nft.price %>/day</div>
            <div class="details">
              <div class="item item-name"><strong><%= nft.name %></strong> by <%= nft.user.username %></div>
              <div class="item description"><%= nft.description %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<div class="buttons">
          <% if @nft.user == current_user %>
            <%= link_to 'Edit', edit_nft_path(@nft), class: "btn" %>
            <%= link_to 'Delete', nft_path(@nft), class: "btn", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          <% end %>
          </div>
