<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="<%= meta_title %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<%= request.original_url %>"/>
    <meta property="og:image" content="<%= meta_image %>"/>
    <meta property="og:description" content="<%= meta_description %>"/>
    <meta property="og:site_name" content="<%= meta_title %>"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  </head>

  <body>
  <% if action_name == 'home' %>
    <%= render "shared/landing-navbar" %>
  <% else %>
    <%= render "shared/navbar" %>
  <% end %>
    <%= yield %>
  <%= render "shared/flashes" %>
  </body>
</html>
